:root{
    --dark-classic-blue: #0A1828;
    --turquoise: #178582;
    --gold: #BFA181;
    --hawaii-blue: #00c3e3;
    --hawaii-blue-highlight: #68e7fc;

    --dark-overlay: #BF252626;

    --primary-color: var(--dark-classic-blue);
    --secondary-color: var(--gold);

    --text-color: var(--turquoise);
}

button {
    font-size: large;
}

button, input[type="submit"]{
    cursor: pointer;
}

body{
    background-color: var(--primary-color);
    font-family: Roboto;
    color: var(--text-color);
}

#root{
    width: min(90%, 1200px);
    margin: 70px auto;
    
}

h1, h3{
    color: var(--secondary-color);
}

.text-highlight{
    color: var(--turquoise);
    font-size: larger;
}

.show-days{
    margin: 5px;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: larger;
    background-color: lightgrey;
}

.group-events-text{
    font-size: larger;
    margin: 50px 0 5px 0;
}

.active-btn{
    background-color: lightgreen;
}

.google-btn{
    margin: 10px 0;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;
}

.event-card{
    display: flex;
    flex-direction: column;
    background-color: var(--hawaii-blue);
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
    transition-duration: 0.3s;
    margin: 15px 0;
}

.event-card div:nth-child(2){
    padding: 10px 20px;
    font-size: large;
    color: var(--dark-classic-blue);
    transition-duration: 0.3s;
}

.event-card:hover{
    background-color: var(--hawaii-blue-highlight);
}

.event-card:hover div:nth-child(2){
    padding-left: 40px;
}

.modal-btn{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--hawaii-blue);
    margin: 30px 5px;
}

.modal-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--dark-overlay);
    backdrop-filter: blur(2px);
}

.modal-box{
    position: absolute;
    border-radius: 20px;
    background-color: var(--hawaii-blue-highlight);
    width: min(calc(90% - 100px), 500px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
}

.modal-close{
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    border-width: 0;
    padding: 5px;
    width: 25px;
    background-color: red;
    color: var(--hawaii-blue-highlight);
    text-align: center;
}

.modal-header{ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.event-form{
    display: flex;
    flex-direction: column;
}

.event-form input{
    margin-bottom: 10px;
    font-size: x-large;
}

.event-form label{
    font-size: larger;
    margin: 5px 0;
}

.create-event-btn{
    display: block;
    margin: 15px 0 15px auto;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--hawaii-blue-highlight);
}